<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BiBsps" version="1.1.1" targetFramework="net471" />
  <package id="BiInterface" version="1.0.0" targetFramework="net471" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net471" />
  <package id="eDriver.tst.shg" version="1.0.1" targetFramework="net471" />
  <package id="InstrumentsLib" version="1.0.0" targetFramework="net471" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="nivisa.tst.shg" version="1.0.1" targetFramework="net471" />
  <package id="NLog" version="4.4.12" targetFramework="net471" />
  <package id="PrettyBin" version="1.1.0" targetFramework="net471" />
  <package id="ProgressODoom" version="1.0.6117.26918" targetFramework="net471" />
  <package id="SfinxLoader" version="1.0.7.0" targetFramework="net471" />
  <package id="Syntune.Utils.tst.shg" version="1.0.0" targetFramework="net471" />
  <package id="YamlDotNet" version="4.3.0" targetFramework="net471" />
</packages>